Flask==2.3.3
flaskwebgui==1.0.3
pillow==10.0.1
pillow-heif==0.13.0
numpy==1.24.3
tqdm==4.66.1
requests==2.31.0
# streetlevel
# py360convert==0.1.0
# opencv-python==4.8.1.78
Werkzeug==2.3.7
pyinstaller==5.13.2
